
body{
    background-color: rgb(29, 29, 29);
}
hr{
    border: 1px solid rgb(255, 122, 45);
    box-shadow: 1px 2px 10px rgb(255, 196, 2);
}
nav div a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(231, 168, 49);
    outline: 3px double rgba(255, 68, 0, 0.651);
    margin: 2px 30px 15px 30px;
    padding: 10px 0 10px 0 ;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0)
}
nav div a:hover{
    color: rgb(255, 156, 7);
    background: rgb(14, 6, 0);
    text-shadow: 2px 2px 10px rgb(255, 95, 3);
    outline: 2px double rgb(255, 68, 0);
    transform: scale(1.02);
    box-shadow: 0 0 60px 1px rgba(255, 94, 0, 0.39),  /* inner white */
    0 0 10px 1px rgba(255, 138, 5, 0.418), /* middle magenta */
    0 0 70px 1px rgba(255, 94, 0, 0.349);;
}
h1{
    font-family: 'Tapestry', cursive;
    text-shadow: 3px 3px 10px rgb(255, 95, 2);
    color: rgb(255, 161, 38);
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
}
header{
    border-radius: 0px 0px 20px 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    outline: 4px double rgba(255, 68, 0, 0.397);;
}
article div{
    border-radius: 20px;
    padding: 50px;
    margin-top: 15px;
    background-color: rgb(10, 10, 10);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    outline: 2px double rgba(255, 68, 0, 0.24);
    
}
article div p{
    color: rgb(197, 136, 67);
    text-indent: 30px;
    font-weight: bold;
    padding: 0px 50px 0 50px;
    text-align:justify;
}
article div h2{
    color: rgb(255, 176, 72);
    text-align: center;
    text-shadow: 1px 1px 5px rgb(253, 206, 118);
}

main{
    border-radius: 20px;
    margin-top: 15px;
    outline: 2px double rgba(255, 68, 0, 0.24);
}
aside{
    background-color: rgb(10, 10, 10);
    color: rgb(197, 136, 67);
    font-weight: bolder;
    border-radius: 0px 20px 20px 0px;
    padding: 40px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
aside p{
    text-align:justify;
    padding-right: 40px;
    padding-left: 40px;
    color: rgb(197, 136, 67);
    text-indent: 30px;
}
h3{
    color: rgb(255, 176, 72);
    text-align: center;
    text-shadow: 1px 1px 5px rgb(253, 206, 118);
}
img{
    border-radius: 20px 0px 0px 20px;
    
}
@media screen and (max-width:578px) {

    img{
        border-radius: 20px 20px 0 0;   
    }
    aside{
        border-radius: 0 0 20px 20px;
    }
    nav div a:last-child{
        border-radius: 5px 5px 15px 15px;
    }
    nav div a:first-child{
        border-radius: 0px 0px 5px 5px;
    }
    h1{
        text-align: center;
        font-size: 28px;
    }
    article div p{
        padding: 5px;
        margin: 0;
    }
    aside p{
        padding: 5px;
        margin: 0;
    }
    .card{
        width: 90%;
    }
    }
footer{
    font-size: smaller;
    color: rgb(255, 227, 168);
    text-align: center;
    background-color: rgb(34, 34, 34);
    margin-top: 20px;
    border-radius: 10px 10px 0 0; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    outline: 2px double rgba(255, 68, 0, 0.24);
}
/*PRODUCTS HTML PART--------------------------------*/
.card{
    margin: 20px 13px 20px 13px;
    background-color: rgb(10, 10, 10);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    outline: 2px double rgba(255, 68, 0, 0.24);
}
.card-img-top{
    margin-top: 15px;
    border-radius: 20px 20px 20px 20px;
    outline: 1px solid rgb(56, 56, 56);
    box-shadow: 10px 10px 10px rgb(0, 0, 0)
}
.card-img-top:hover{
    cursor: pointer;
    transform:scale(1.2);
    transition: 0.5s; 
    box-shadow: none;
}
.card-title{
    color: rgb(255, 176, 72);
    text-align: center;
    text-shadow: 1px 1px 5px rgb(253, 206, 118);
}
.card-text{
    color: rgb(197, 136, 67);
    text-indent: 15px;
    text-align: justify; 
    font-weight: bold; 
}
.list-group{
    border-radius: 20px 20px 20px 20px;
    text-indent: 15px;
    text-align: justify; 
    font-weight: bold; 
    outline: 1px rgb(43, 43, 43) double;
    box-shadow: 10px 10px 10px rgb(0, 0, 0)
}
.card-link{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 105, 36);
    margin-left: 30px;
    text-shadow: 1px 1px 5px rgb(255, 81, 0);
    border: 1px double rgb(255, 117, 53);
    border-radius: 4px;
    padding: 6px; 
}
.card-link:hover{
    background: black;
    color: rgb(255, 72, 0);
    text-shadow: 1px 1px 5px rgb(255, 102, 0);
    box-shadow: 2px 2px 6px rgb(255, 81, 0);
    border: 1px double rgb(255, 81, 0);
}

